<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Flight-Delay" data-toc-modified-id="Flight-Delay-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Flight Delay</a></span><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Ознакомление-с-данными" data-toc-modified-id="Ознакомление-с-данными-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Ознакомление с данными</a></span></li><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Подготовка данных</a></span></li><li><span><a href="#Найти-аэропорт-с-минимальной-задержкой-вылета" data-toc-modified-id="Найти-аэропорт-с-минимальной-задержкой-вылета-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Найти аэропорт с минимальной задержкой вылета</a></span></li><li><span><a href="#Самая-пунктуальная-авиакомпания-на-прилет-в-Los-Angeles-International-Airport" data-toc-modified-id="Самая-пунктуальная-авиакомпания-на-прилет-в-Los-Angeles-International-Airport-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Самая пунктуальная авиакомпания на прилет в Los Angeles International Airport</a></span></li><li><span><a href="#Найти-аэропорт,-где-самолёты-проводят-больше-всего-времени-на-рулении-(среднее-значение)" data-toc-modified-id="Найти-аэропорт,-где-самолёты-проводят-больше-всего-времени-на-рулении-(среднее-значение)-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Найти аэропорт, где самолёты проводят больше всего времени на рулении (среднее значение)</a></span></li><li><span><a href="#Построить-модель-которая-будет-выбирать-топ-3-аэропорта-прилета-(вероятность-опоздания-минимальная-–-RMSE-метрика),-в-зависимости-от-аэропорта-вылета" data-toc-modified-id="Построить-модель-которая-будет-выбирать-топ-3-аэропорта-прилета-(вероятность-опоздания-минимальная-–-RMSE-метрика),-в-зависимости-от-аэропорта-вылета-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Построить модель которая будет выбирать топ 3 аэропорта прилета (вероятность опоздания минимальная – RMSE метрика), в зависимости от аэропорта вылета</a></span></li></ul></li></ul></div>

# Flight Delay

## Загрузка данных

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [2]:
df_airlines = pd.read_csv('airlines.csv')
df_airports = pd.read_csv('airports.csv')
df_flights = pd.read_csv('flights.csv')

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_airlines.tail()

   IATA_CODE                       AIRLINE
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [4]:
df_airports.tail()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [5]:
df_flights.tail()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

## Ознакомление с данными

In [6]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [7]:
df_airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  14 non-null     object
 1   AIRLINE    14 non-null     object
dtypes: object(2)
memory usage: 352.0+ bytes

In [8]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  322 non-null    object
 1   AIRPORT    322 non-null    object
 2   CITY       322 non-null    object
 3   STATE      322 non-null    object
 4   COUNTRY    322 non-null    object
 5   LATITUDE   319 non-null    float64
 6   LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

In [9]:
df_flights.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

## Подготовка данных

In [10]:
#проверка на наличие дубликатов

In [11]:
df_flights.duplicated().sum()

0

In [12]:
df_airports.duplicated().sum()

0

In [13]:
df_airlines.duplicated().sum()

0

In [14]:
#проверка на наличие пропусков
df_flights.isna().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [15]:
df_airlines.isna().sum()

IATA_CODE    0
AIRLINE      0
dtype: int64

In [16]:
df_airports.isna().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

In [17]:
df_flights_NULL = df_flights.isnull().sum()*100/df_flights.shape[0]
df_flights_NULL

YEAR                    0.000000
MONTH                   0.000000
DAY                     0.000000
DAY_OF_WEEK             0.000000
AIRLINE                 0.000000
FLIGHT_NUMBER           0.000000
TAIL_NUMBER             0.252978
ORIGIN_AIRPORT          0.000000
DESTINATION_AIRPORT     0.000000
SCHEDULED_DEPARTURE     0.000000
DEPARTURE_TIME          1.480526
DEPARTURE_DELAY         1.480526
TAXI_OUT                1.530259
WHEELS_OFF              1.530259
SCHEDULED_TIME          0.000103
ELAPSED_TIME            1.805629
AIR_TIME                1.805629
DISTANCE                0.000000
WHEELS_ON               1.589822
TAXI_IN                 1.589822
SCHEDULED_ARRIVAL       0.000000
ARRIVAL_TIME            1.589822
ARRIVAL_DELAY           1.805629
DIVERTED                0.000000
CANCELLED               0.000000
CANCELLATION_REASON    98.455357
AIR_SYSTEM_DELAY       81.724960
SECURITY_DELAY         81.724960
AIRLINE_DELAY          81.724960
LATE_AIRCRAFT_DELAY    81.724960
WEATHER_DELAY          81.724960
dtype: float64

In [18]:
#удаляем строки со значением nan (менее 2% в столбце)

df_flights = df_flights.dropna(subset = ['TAIL_NUMBER',
                                           'DEPARTURE_TIME',
                                           'DEPARTURE_DELAY',
                                           'TAXI_OUT',
                                           'WHEELS_OFF',
                                           'SCHEDULED_TIME',
                                           'ELAPSED_TIME',
                                           'AIR_TIME',
                                           'WHEELS_ON',
                                           'TAXI_IN',
                                           'ARRIVAL_TIME',
                                           'ARRIVAL_DELAY'])

In [19]:
#удаляем столбцы со значительным процентом nan (более 80% в столбце)

df_flights = df_flights.drop(['CANCELLATION_REASON',
                                  'AIR_SYSTEM_DELAY',
                                  'SECURITY_DELAY',
                                  'AIRLINE_DELAY',
                                  'LATE_AIRCRAFT_DELAY',
                                  'WEATHER_DELAY'], axis=1)

In [20]:
df_flights.isna().sum().sum()

0

In [21]:
#строки с nan
df_airports[df_airports.isna().any(axis=1)]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
96,ECP,Northwest Florida Beaches International Airport,Panama City,FL,USA,NaN,NaN
234,PBG,Plattsburgh International Airport,Plattsburgh,NY,USA,NaN,NaN
313,UST,Northeast Florida Regional Airport (St. August...,St. Augustine,FL,USA,NaN,NaN

In [22]:
#отсутствующие данные по трем аэропортам можно найти в открытом доступе на ресурсе https://geohack.toolforge.org
#Northwest Florida Beaches International Airport (30.358333,-85.795556), 
#Plattsburgh International Airport(44.650833,-73.468056),
#Northeast Florida Regional Airport (29.95925,-81.339722)

In [23]:
#повторяем проверку на nan
df_airports.isna().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

In [24]:
df_flights.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
count,5714008.0,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,...,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5.714008e+06,5714008.0,5714008.0
mean,2015.0,6.547799e+00,1.570759e+01,3.932643e+00,2.164384e+03,1.328907e+03,1.335066e+03,9.294842e+00,1.606550e+01,1.357099e+03,...,1.370062e+02,1.135116e+02,8.244569e+02,1.471319e+03,7.429063e+00,1.493187e+03,1.476373e+03,4.407057e+00,0.0,0.0
std,0.0,3.397421e+00,8.774394e+00,1.985967e+00,1.754706e+03,4.835251e+02,4.964198e+02,3.688972e+01,8.882449e+00,4.980237e+02,...,7.421107e+01,7.223082e+01,6.086620e+02,5.218682e+02,5.618951e+00,5.069011e+02,5.259730e+02,3.927130e+01,0.0,0.0
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.400000e+01,7.000000e+00,3.100000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.700000e+01,0.0,0.0
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.280000e+02,9.160000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,8.200000e+01,6.000000e+01,3.730000e+02,1.054000e+03,4.000000e+00,1.110000e+03,1.058000e+03,-1.300000e+01,0.0,0.0
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.681000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.180000e+02,9.400000e+01,6.500000e+02,1.508000e+03,6.000000e+00,1.520000e+03,1.512000e+03,-5.000000e+00,0.0,0.0
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.211000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.680000e+02,1.440000e+02,1.065000e+03,1.911000e+03,9.000000e+00,1.917000e+03,1.916000e+03,8.000000e+00,0.0,0.0
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.320000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,7.660000e+02,6.900000e+02,4.983000e+03,2.400000e+03,2.480000e+02,2.400000e+03,2.400000e+03,1.971000e+03,0.0,0.0

In [25]:
df_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0

In [26]:
#продолжаем обработку data_flights

In [27]:
df_flights['Date'] = pd.to_datetime(df_flights[['YEAR','MONTH','DAY']], dayfirst=True)

In [28]:
df_flights['Day'] = df_flights['Date'].dt.day_name()

In [29]:
df_flights.shape

(5714008, 27)

In [30]:
#объединяем таблицы data_flights и df_airlines

In [31]:
df_flights = df_flights.merge(df_airlines, left_on='AIRLINE', right_on='IATA_CODE', how='inner')

In [32]:
df_flights = df_flights.drop(['AIRLINE_x','IATA_CODE'], axis=1)

In [33]:
df_flights = df_flights.rename(columns={"AIRLINE_y":"AIRLINE"})

In [34]:
#объединяем таблицы data_flights и df_airports

In [35]:
df_flights = df_flights.merge(df_airports, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='inner')
df_flights = df_flights.merge(df_airports, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='inner')

In [36]:
df_flights = df_flights.drop(['LATITUDE_x',
                                  'LONGITUDE_x',
                                  'STATE_y',
                                  'COUNTRY_y',
                                  'LATITUDE_y',
                                  'LONGITUDE_y','STATE_x',
                                  'COUNTRY_x'], axis=1)

In [37]:
df_flights = df_flights.rename(columns={'IATA_CODE_x':'Orig_Airport_Code',
                                            'AIRPORT_x':'Orig_Airport_Name',
                                            'CITY_x':'Origin_city',
                                            'IATA_CODE_y':'Dest_Airport_Code',
                                            'AIRPORT_y':'Dest_Airport_Name',
                                            'CITY_y':'Destination_city'})

In [38]:
df_flights = df_flights.drop(['ORIGIN_AIRPORT','DESTINATION_AIRPORT'], axis=1)

In [39]:
# создаем функцию для формтаирования времени
def Format_Hourmin(hours):
        if hours == 2400:
            hours = 0
        else:
            hours = "{0:04d}".format(int(hours))
            Hourmin = datetime.time(int(hours[0:2]), int(hours[2:4]))
            return Hourmin

In [40]:
df_flights['Scheduled_Departure'] = df_flights['SCHEDULED_DEPARTURE'].apply(Format_Hourmin)
df_flights['Actual_Departure'] = df_flights['DEPARTURE_TIME'].apply(Format_Hourmin)
df_flights['Scheduled_Arrival'] = df_flights['SCHEDULED_ARRIVAL'].apply(Format_Hourmin)
df_flights['Actual_Arrival'] = df_flights['ARRIVAL_TIME'].apply(Format_Hourmin)

In [41]:
# удаляем лишние столбцы

df_flights = df_flights.drop(['DEPARTURE_TIME',
                              'SCHEDULED_ARRIVAL',
                              'SCHEDULED_DEPARTURE',
                              'ARRIVAL_TIME'], axis=1)

In [42]:
df_flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'TAIL_NUMBER',
       'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'Date', 'Day', 'AIRLINE',
       'Orig_Airport_Code', 'Orig_Airport_Name', 'Origin_city',
       'Dest_Airport_Code', 'Dest_Airport_Name', 'Destination_city',
       'Scheduled_Departure', 'Actual_Departure', 'Scheduled_Arrival',
       'Actual_Arrival'],
      dtype='object')

In [43]:
neworder = ['Date', 'Day', 'AIRLINE', 'Orig_Airport_Code','Orig_Airport_Name','Origin_city',
            'Dest_Airport_Code', 'Dest_Airport_Name', 'Destination_city','Scheduled_Departure','Actual_Departure',
            'DEPARTURE_DELAY','Scheduled_Arrival','Actual_Arrival','ARRIVAL_DELAY','YEAR', 'MONTH', 'DAY',
            'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
            'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN','DIVERTED','CANCELLED']

df_flights = df_flights.reindex(columns=neworder)

In [44]:
df_flights[['Scheduled_Departure','Actual_Departure',
            'DEPARTURE_DELAY','Scheduled_Arrival','Actual_Arrival','ARRIVAL_DELAY',
             'TAXI_OUT','TAXI_IN','SCHEDULED_TIME']]

,Scheduled_Departure,Actual_Departure,DEPARTURE_DELAY,Scheduled_Arrival,Actual_Arrival,ARRIVAL_DELAY,TAXI_OUT,TAXI_IN,SCHEDULED_TIME
0,00:05:00,23:54:00,-11.0,04:30:00,04:08:00,-22.0,21.0,4.0,205.0
1,00:45:00,00:41:00,-4.0,05:09:00,04:55:00,-14.0,17.0,4.0,204.0
2,01:55:00,01:40:00,-15.0,06:33:00,05:58:00,-35.0,17.0,11.0,218.0
3,02:20:00,02:09:00,-11.0,06:40:00,06:28:00,-12.0,15.0,8.0,200.0
4,05:05:00,04:57:00,-8.0,09:30:00,09:16:00,-14.0,16.0,4.0,205.0
...,...,...,...,...,...,...,...,...,...
5231125,20:46:00,20:37:00,-9.0,21:20:00,21:02:00,-18.0,6.0,2.0,34.0
5231126,14:35:00,16:16:00,101.0,15:09:00,16:39:00,90.0,4.0,5.0,34.0
5231127,20:46:00,20:56:00,10.0,21:20:00,21:30:00,10.0,12.0,4.0,34.0
5231128,14:35:00,14:21:00,-14.0,15:09:00,14:51:00,-18.0,9.0,3.0,34.0
5231129,20:46:00,20:20:00,-26.0,21:20:00,20:48:00,-32.0,7.0,3.0,34.0

In [45]:
df_flights.isna().sum().sum()

2757

In [46]:
df_flights = df_flights.dropna(subset = ['Actual_Departure',
                                         'Scheduled_Arrival',
                                         'Actual_Arrival'
                                           ])

In [47]:
df_flights.isna().sum().sum()

0

In [48]:
df_flights.shape

(5228373, 31)

## Найти аэропорт с минимальной задержкой вылета

In [49]:
a = df_flights.groupby(['Orig_Airport_Name','Origin_city']).mean()['DEPARTURE_DELAY'].sort_values()

In [50]:
a[:15]

Orig_Airport_Name                             Origin_city
Yakutat Airport                               Yakutat       -6.507692
Canyonlands Field                             Moab          -6.058537
Elko Regional Airport                         Elko          -3.771760
Valdez Airport                                Vernal        -3.740000
Merle K. (Mudhole) Smith Airport              Cordova       -3.268405
Lewiston-Nez Perce County Airport             Lewiston      -2.976190
Pocatello Regional Airport                    Pocatello     -1.328221
Deadhorse Airport (Prudhoe Bay Airport)       Deadhorse     -0.949755
Hilo International Airport                    Hilo          -0.889804
Magic Valley Regional Airport (Joslin Field)  Twin Falls    -0.875776
Bellingham International Airport              Bellingham    -0.419034
Brainerd Lakes Regional Airport               Brainerd      -0.065292
Kodiak Airport                                Kodiak         0.405034
Lihue Airport                                 Lihue          0.457900
Dillingham Airport                            Dillingham     0.558442
Name: DEPARTURE_DELAY, dtype: float64

In [51]:
b = df_flights[df_flights['DEPARTURE_DELAY'] > 0]

In [52]:
b1 = b.groupby(['Orig_Airport_Name','Origin_city']).mean()['DEPARTURE_DELAY'].sort_values()

In [53]:
b1[:15]

Orig_Airport_Name                           Origin_city
King Salmon Airport                         King Salmon         13.800000
Hilo International Airport                  Hilo                16.342029
Dillingham Airport                          Dillingham          20.960000
Honolulu International Airport              Honolulu            21.921351
Kahului Airport                             Kahului             22.235131
Kona International Airport at Keahole       Kailua/Kona         22.559646
Lihue Airport                               Lihue               22.624664
Canyonlands Field                           Moab                23.909091
Westerly State Airport                      West Yellowstone    24.243902
Kodiak Airport                              Kodiak              24.543307
Seattle-Tacoma International Airport        Seattle             25.172730
John Wayne Airport (Orange County Airport)  Santa Ana           25.257718
Oakland International Airport               Oakland             25.325768
Dallas Love Field                           Dallas              25.344622
Guam International Airport                  Agana               26.604444
Name: DEPARTURE_DELAY, dtype: float64

## Самая пунктуальная авиакомпания на прилет в Los Angeles International Airport

In [54]:
LA_arrival = df_flights[df_flights['Dest_Airport_Name']=='Los Angeles International Airport']
LA_arrival.shape

(192051, 31)

In [55]:
LA_2 = LA_arrival.groupby('AIRLINE').size()
LA_3 = LA_arrival[LA_arrival['ARRIVAL_DELAY']<=5] # если не считать 5-минутное опоздание за опоздание
LA_4 = LA_3.groupby('AIRLINE').size()
LA_p = (LA_4/LA_2)*100
LA_p.sort_values(ascending=False)

AIRLINE
Hawaiian Airlines Inc.          79.379444
Alaska Airlines Inc.            74.270096
Delta Air Lines Inc.            72.124017
American Airlines Inc.          71.041802
JetBlue Airways                 70.445545
Virgin America                  67.570341
US Airways Inc.                 66.091954
Skywest Airlines Inc.           64.745631
United Air Lines Inc.           63.508876
Southwest Airlines Co.          60.967628
American Eagle Airlines Inc.    59.259259
Frontier Airlines Inc.          59.067735
Spirit Air Lines                53.271028
dtype: float64

## Найти аэропорт, где самолёты проводят больше всего времени на рулении (среднее значение)

In [56]:
taxing = df_flights.copy()

In [57]:
taxing['taxing'] = taxing['TAXI_OUT'] + taxing['TAXI_IN']

In [58]:
t1 = taxing.groupby(['Orig_Airport_Name','Origin_city']).mean()['taxing'].sort_values(ascending=False)

In [59]:
t1[:10]

Orig_Airport_Name                                                       Origin_city
LaGuardia Airport (Marine Air Terminal)                                 New York        34.524761
Sioux Gateway Airport                                                   Sioux City      34.368421
Sawyer International Airport                                            Marquette       34.209459
John F. Kennedy International Airport (New York International Airport)  New York        34.185193
Waterloo Regional Airport                                               Waterloo        31.688468
Ithaca Tompkins Regional Airport                                        Ithaca          30.266667
St. Cloud Regional Airport                                              St Cloud        30.103896
Philadelphia International Airport                                      Philadelphia    29.648114
Eagle County Regional Airport                                           Eagle           29.074290
Sloulin Field International Airport                                     Williston       28.871722
Name: taxing, dtype: float64

## Построить модель которая будет выбирать топ 3 аэропорта прилета (вероятность опоздания минимальная – RMSE метрика), в зависимости от аэропорта вылета

In [60]:
df_flights.shape

(5228373, 31)

In [61]:
df_flights.columns

Index(['Date', 'Day', 'AIRLINE', 'Orig_Airport_Code', 'Orig_Airport_Name',
       'Origin_city', 'Dest_Airport_Code', 'Dest_Airport_Name',
       'Destination_city', 'Scheduled_Departure', 'Actual_Departure',
       'DEPARTURE_DELAY', 'Scheduled_Arrival', 'Actual_Arrival',
       'ARRIVAL_DELAY', 'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [62]:
data_flights = df_flights.groupby(['Orig_Airport_Code','Dest_Airport_Code']).mean().reset_index()
data_flights

,Orig_Airport_Code,Dest_Airport_Code,DEPARTURE_DELAY,ARRIVAL_DELAY,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,DIVERTED,CANCELLED
0,ABE,ATL,5.757336,2.256208,2015.0,6.206546,15.695260,3.881490,4064.014673,13.575621,1148.029345,130.916479,127.415350,106.006772,692.000000,1317.060948,7.832957,0.0,0.0
1,ABE,DTW,10.418705,7.925180,2015.0,6.028777,15.584173,3.658993,5077.530935,14.048921,1231.129496,104.417266,101.923741,81.443165,425.000000,1357.579856,6.431655,0.0,0.0
2,ABE,ORD,10.842105,9.924149,2015.0,6.761610,15.890093,3.719814,5828.482972,12.538700,1162.018576,131.216718,130.298762,106.325077,654.187307,1238.065015,11.434985,0.0,0.0
3,ABI,DFW,5.747647,3.272075,2015.0,6.076199,15.594352,3.917974,3301.355446,9.188256,1119.900493,56.427163,53.951591,34.076647,158.000000,1173.824742,10.686688,0.0,0.0
4,ABQ,ATL,7.588235,-0.093867,2015.0,6.687109,15.842303,3.993742,1606.272841,14.555695,955.628285,182.504380,174.822278,152.221527,1269.000000,1403.018773,8.045056,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4651,XNA,SFO,6.352941,13.078431,2015.0,11.411765,13.725490,3.941176,5550.000000,24.568627,808.862745,243.176471,249.901961,219.549020,1550.000000,968.803922,5.784314,0.0,0.0
4652,XNA,SLC,-10.000000,-20.000000,2015.0,6.000000,2.000000,2.000000,4536.000000,15.000000,1449.000000,165.000000,155.000000,136.000000,1004.000000,1605.000000,4.000000,0.0,0.0
4653,YAK,CDV,-2.846154,-1.686154,2015.0,6.181538,15.633846,3.978462,61.000000,8.538462,1160.726154,48.033846,49.193846,36.858462,213.000000,1232.907692,3.796923,0.0,0.0
4654,YAK,JNU,-10.169231,-9.578462,2015.0,6.206154,15.843077,4.003077,66.000000,7.273846,1828.950769,45.366154,45.956923,34.609231,198.913846,1880.298462,4.073846,0.0,0.0
4655,YUM,PHX,1.232470,2.184466,2015.0,6.160194,15.584682,3.935275,2913.595469,14.348436,1212.908306,56.318231,57.270227,32.453074,160.000000,1265.102481,10.468716,0.0,0.0

In [63]:
data_flights_cl = data_flights.drop(['YEAR',
                                 'MONTH',
                                 'DAY',
                                 'FLIGHT_NUMBER',
                                 'DAY_OF_WEEK',
                                 ], axis=1)

In [130]:
data_flights_cl.groupby('Orig_Airport_Code')['Dest_Airport_Code'].count().sort_values(ascending=False)

Orig_Airport_Code
ATL    168
ORD    161
DFW    148
DEN    139
MSP    120
      ...
CSG      1
DBQ      1
DHN      1
DLG      1
YUM      1
Name: Dest_Airport_Code, Length: 322, dtype: int64

In [65]:
data_flights_cl.columns

Index(['Orig_Airport_Code', 'Dest_Airport_Code', 'DEPARTURE_DELAY',
       'ARRIVAL_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [91]:
from lightautoml.automl.presets.tabular_presets import TabularAutoML, TabularUtilizedAutoML
from lightautoml.tasks import Task
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, roc_auc_score, roc_curve, precision_score, recall_score, f1_score, precision_recall_curve
from sklearn.metrics import mean_squared_error, r2_score

In [67]:
RANDOM_STATE = 1000

In [97]:
df_train, df_test = train_test_split(data_flights_cl, test_size=0.2, random_state=RANDOM_STATE)

In [116]:
y_train = df_train['ARRIVAL_DELAY']
y_test = df_test['ARRIVAL_DELAY']

In [70]:
task = Task(name='reg')
roles = {'target': 'ARRIVAL_DELAY'}
automl = TabularAutoML(task=task, timeout=3600, memory_limit=10)
oof_pred = automl.fit_predict(df_train, roles=roles)

In [117]:
test_y_pred = automl.predict(df_test).data

In [125]:
# The mean squared error (RMSE-метрика)
print("Mean squared error: %.2f" % mean_squared_error(y_test,test_y_pred))

Mean squared error: 0.00

In [83]:
pred = automl.predict(data_flights_cl.drop('ARRIVAL_DELAY', axis = 1)).data

In [84]:
data_flights_cl['pred'] = pred

In [87]:
data_flights_cl[['ARRIVAL_DELAY','pred']]

      ARRIVAL_DELAY       pred
0          2.256208   2.255043
1          7.925180   7.922935
2          9.924149   9.921118
3          3.272075   3.272240
4         -0.093867  -0.090236
...             ...        ...
4651      13.078431  13.067470
4652     -20.000000 -19.997482
4653      -1.686154  -1.690438
4654      -9.578462  -9.582944
4655       2.184466   2.183016

[4656 rows x 2 columns]

In [123]:
data_flights_cl[data_flights_cl['Orig_Airport_Code'] == 'ATL']

,Orig_Airport_Code,Dest_Airport_Code,DEPARTURE_DELAY,ARRIVAL_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,DIVERTED,CANCELLED,pred
112,ATL,ABE,11.057047,7.346756,17.201342,1564.954139,121.192394,117.482103,96.520134,692.0,1695.210291,3.760626,0.0,0.0,7.346103
113,ATL,ABQ,9.460000,-1.187500,18.948750,1582.588750,207.685000,197.037500,172.110000,1269.0,1662.998750,5.978750,0.0,0.0,-1.184656
114,ATL,ABY,9.719583,8.463499,17.945539,1618.380070,51.818076,50.561993,29.196987,145.0,1659.720742,3.419467,0.0,0.0,8.462581
115,ATL,ACY,19.689266,18.186441,17.508475,1541.723164,113.751412,112.248588,90.485876,679.0,1631.757062,4.254237,0.0,0.0,18.185154
116,ATL,AEX,10.155812,8.037098,17.662819,1513.590272,101.613355,99.494641,78.903545,500.0,1544.101401,2.928277,0.0,0.0,8.034864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,ATL,TVC,4.272727,9.060606,18.787879,1322.060606,126.727273,131.515152,103.757576,769.0,1500.969697,8.969697,0.0,0.0,9.055014
276,ATL,TYS,6.174220,2.274868,16.346675,1441.519717,54.025898,50.126545,30.090642,152.0,1479.662154,3.689229,0.0,0.0,2.275640
277,ATL,VLD,8.224756,6.947883,17.740499,1568.736156,61.089034,59.812161,37.742671,208.0,1625.197611,4.328990,0.0,0.0,6.946853
278,ATL,VPS,7.274600,2.163844,17.707094,1527.129062,73.025172,67.914416,43.364760,250.0,1502.969794,6.842563,0.0,0.0,2.165913
279,ATL,XNA,7.491961,4.030868,18.204502,1465.729260,115.432154,111.971061,89.567846,589.0,1509.174920,4.198714,0.0,0.0,4.029783

In [ ]:
####

In [132]:
df_flights.shape

(5228373, 31)

In [133]:
df_flights.head()

,Date,Day,AIRLINE,Orig_Airport_Code,Orig_Airport_Name,Origin_city,Dest_Airport_Code,Dest_Airport_Name,Destination_city,Scheduled_Departure,...,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,DIVERTED,CANCELLED
0,2015-01-01,Thursday,Alaska Airlines Inc.,ANC,Ted Stevens Anchorage International Airport,Anchorage,SEA,Seattle-Tacoma International Airport,Seattle,00:05:00,...,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,0,0
1,2015-01-01,Thursday,Alaska Airlines Inc.,ANC,Ted Stevens Anchorage International Airport,Anchorage,SEA,Seattle-Tacoma International Airport,Seattle,00:45:00,...,17.0,58.0,204.0,194.0,173.0,1448,451.0,4.0,0,0
2,2015-01-01,Thursday,Alaska Airlines Inc.,ANC,Ted Stevens Anchorage International Airport,Anchorage,SEA,Seattle-Tacoma International Airport,Seattle,01:55:00,...,17.0,157.0,218.0,198.0,170.0,1448,547.0,11.0,0,0
3,2015-01-01,Thursday,Alaska Airlines Inc.,ANC,Ted Stevens Anchorage International Airport,Anchorage,SEA,Seattle-Tacoma International Airport,Seattle,02:20:00,...,15.0,224.0,200.0,199.0,176.0,1448,620.0,8.0,0,0
4,2015-01-01,Thursday,Alaska Airlines Inc.,ANC,Ted Stevens Anchorage International Airport,Anchorage,SEA,Seattle-Tacoma International Airport,Seattle,05:05:00,...,16.0,513.0,205.0,199.0,179.0,1448,912.0,4.0,0,0

In [146]:
df_model = df_flights.groupby(['Orig_Airport_Code','Dest_Airport_Code']).mean().reset_index()

In [147]:
df_model.head()

,Orig_Airport_Code,Dest_Airport_Code,DEPARTURE_DELAY,ARRIVAL_DELAY,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,DIVERTED,CANCELLED
0,ABE,ATL,5.757336,2.256208,2015.0,6.206546,15.695260,3.881490,4064.014673,13.575621,1148.029345,130.916479,127.415350,106.006772,692.000000,1317.060948,7.832957,0.0,0.0
1,ABE,DTW,10.418705,7.925180,2015.0,6.028777,15.584173,3.658993,5077.530935,14.048921,1231.129496,104.417266,101.923741,81.443165,425.000000,1357.579856,6.431655,0.0,0.0
2,ABE,ORD,10.842105,9.924149,2015.0,6.761610,15.890093,3.719814,5828.482972,12.538700,1162.018576,131.216718,130.298762,106.325077,654.187307,1238.065015,11.434985,0.0,0.0
3,ABI,DFW,5.747647,3.272075,2015.0,6.076199,15.594352,3.917974,3301.355446,9.188256,1119.900493,56.427163,53.951591,34.076647,158.000000,1173.824742,10.686688,0.0,0.0
4,ABQ,ATL,7.588235,-0.093867,2015.0,6.687109,15.842303,3.993742,1606.272841,14.555695,955.628285,182.504380,174.822278,152.221527,1269.000000,1403.018773,8.045056,0.0,0.0

In [148]:
df_model = df_model.drop(['YEAR',
                          'MONTH',
                          'DAY',
                          'FLIGHT_NUMBER',
                          'DAY_OF_WEEK',
                          'CANCELLED',
                          'DIVERTED'
                                 ], axis=1)

In [149]:
df_model.head()

,Orig_Airport_Code,Dest_Airport_Code,DEPARTURE_DELAY,ARRIVAL_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN
0,ABE,ATL,5.757336,2.256208,13.575621,1148.029345,130.916479,127.415350,106.006772,692.000000,1317.060948,7.832957
1,ABE,DTW,10.418705,7.925180,14.048921,1231.129496,104.417266,101.923741,81.443165,425.000000,1357.579856,6.431655
2,ABE,ORD,10.842105,9.924149,12.538700,1162.018576,131.216718,130.298762,106.325077,654.187307,1238.065015,11.434985
3,ABI,DFW,5.747647,3.272075,9.188256,1119.900493,56.427163,53.951591,34.076647,158.000000,1173.824742,10.686688
4,ABQ,ATL,7.588235,-0.093867,14.555695,955.628285,182.504380,174.822278,152.221527,1269.000000,1403.018773,8.045056