<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Практика" data-toc-modified-id="Практика-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Практика</a></span><ul class="toc-item"><li><span><a href="#Определение-вероятности.-События" data-toc-modified-id="Определение-вероятности.-События-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Определение вероятности. События</a></span><ul class="toc-item"><li><span><a href="#Задача-1" data-toc-modified-id="Задача-1-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Задача 1</a></span></li><li><span><a href="#Задача-2" data-toc-modified-id="Задача-2-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Задача 2</a></span></li><li><span><a href="#Задача-3" data-toc-modified-id="Задача-3-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Задача 3</a></span></li><li><span><a href="#Задача-4" data-toc-modified-id="Задача-4-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Задача 4</a></span></li></ul></li><li><span><a href="#Вероятность-суммы-событий" data-toc-modified-id="Вероятность-суммы-событий-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Вероятность суммы событий</a></span><ul class="toc-item"><li><span><a href="#Задача-5" data-toc-modified-id="Задача-5-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Задача 5</a></span></li><li><span><a href="#Задача-6" data-toc-modified-id="Задача-6-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Задача 6</a></span></li></ul></li><li><span><a href="#Случайные-величины" data-toc-modified-id="Случайные-величины-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Случайные величины</a></span><ul class="toc-item"><li><span><a href="#Задача-7" data-toc-modified-id="Задача-7-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Задача 7</a></span></li><li><span><a href="#Задача-8" data-toc-modified-id="Задача-8-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Задача 8</a></span></li></ul></li><li><span><a href="#Условные-вероятности" data-toc-modified-id="Условные-вероятности-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Условные вероятности</a></span><ul class="toc-item"><li><span><a href="#Задача-9" data-toc-modified-id="Задача-9-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Задача 9</a></span></li><li><span><a href="#Задача-10" data-toc-modified-id="Задача-10-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Задача 10</a></span></li></ul></li></ul></li></ul></div>

# Практика

## Определение вероятности. События

Требуется сгенерировать необходимые выборки и произвести по ним расчеты

In [1]:
import random as rd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
%matplotlib inline

### Задача 1
Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами

In [2]:
n = 10000
orel = 0
reshka = 1
first_coin = np.random.choice([orel, reshka], n)
second_coin = np.random.choice([orel, reshka], n)

df_1 = pd.DataFrame(first_coin)
df_2 = pd.DataFrame(second_coin)

df3 = pd.concat([df_1,df_2], axis=1)
df_concat = df3.set_axis(['first','second'],axis=1, inplace=False)
df_concat['summ'] = df_concat['first']+df_concat['second']

print((df_concat[df_concat['summ']==1]).count()[0]/n)

0.5027

### Задача 2
Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:


1.   A = {не выпало ни одного герба}
2.   B = {выпало четное число гербов}
3.   C = {на третьей монете выпал герб}

In [3]:
df2 = pd.DataFrame([rd.randint(0,1) for i in range(n)],columns=['first_coin'])
df2['second_coin'] =  pd.DataFrame([rd.randint(0,1) for i in range(n)])
df2['third_coin'] =  pd.DataFrame([rd.randint(0,1) for i in range(n)])
df2[['first_coin','second_coin','third_coin']] = df2[['first_coin','second_coin','third_coin']].astype(int)
df2['TN'] = df2.sum(axis=1)
df2.head(10)

   first_coin  second_coin  third_coin  TN
0           1            1           1   3
1           1            0           1   2
2           1            0           0   1
3           1            1           0   2
4           1            1           1   3
5           0            0           0   0
6           1            1           1   3
7           1            0           1   2
8           1            1           1   3
9           1            0           1   2

In [4]:
df2[df2['TN']==0].count()[3]/df2['TN'].count()

0.1315

In [5]:
df2[df2['TN']== (0 or 2)].count()[3]/df2['TN'].count()

0.3696

In [6]:
df2[df2['third_coin']== 1].count()[2]/df2['third_coin'].count()

0.4955

Предлагается также решить задачи: 

### Задача 3
Из двух претендентов E и L на ответственную должность три члена комиссии должны отобрать одного. Каждый член комиссии должен указать либо одного достойного, либо забраковать обоих. Претендент считается выбранным, если он был признана достойным хотя бы двумя членами комиссии.
Найти вероятность событий:

A = {рекомендован L}, B = {рекомендован E}

In [7]:
df3 = pd.DataFrame([rd.randint(0,2)**2 for i in range(n)],columns=['first_man'])
df3['second_man'] =  pd.DataFrame([rd.randint(0,2)**2 for i in range(n)])
df3['third_man'] =  pd.DataFrame([rd.randint(0,2)**2 for i in range(n)])
df3[['first_man','second_man','third_man']] = df3[['first_man','second_man','third_man']].astype(int)
df3['TN'] = df3.sum(axis=1)
df3.head(10)
## 0 - false, 1 - true L, 4 - true E

   first_man  second_man  third_man  TN
0          0           1          0   1
1          0           1          4   5
2          1           1          0   2
3          1           0          1   2
4          0           0          0   0
5          0           4          4   8
6          1           4          4   9
7          0           1          1   2
8          4           1          1   6
9          4           1          0   5

In [8]:
df3[df3['TN']== (2 or 3 or 6)].count()[3]/df3['TN'].count()
## L

0.1047

In [9]:
df3[df3['TN']== (8 or 9 or 12)].count()[3]/df3['TN'].count()
## E

0.1097

### Задача 4
Брошено две игральных кости. Описать множество элементарных событий. Найти вероятности событий:

A = {вышло две "шестерки"}

B = {сумма выпавших очков не меньше 11}

C = {не выпала ни одна "шестерка"}

In [10]:
df4 = pd.DataFrame([rd.randint(1,6) for i in range(n)],columns=['first'])
df4['second'] =  pd.DataFrame([rd.randint(1,6) for i in range(n)])
df4[['first','second']] = df4[['first','second']].astype(int)
df4['TN'] = df4.sum(axis=1)
df4.head(10)

   first  second  TN
0      4       1   5
1      1       3   4
2      4       4   8
3      1       4   5
4      3       4   7
5      4       6  10
6      4       3   7
7      4       1   5
8      3       6   9
9      3       3   6

In [11]:
df4[df4['TN']== 12].count()[2]/df4['TN'].count()

0.0298

In [12]:
df4[df4['TN']> 10].count()[2]/df4['TN'].count()

0.085

In [13]:
df4[(df4['first'] != 6) & (df4['second'] != 6)].count()[2]/df4['TN'].count()

0.6887

## Вероятность суммы событий

### Задача 5
Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}

In [14]:
df5 = pd.DataFrame([rd.randint(1,6) for i in range(n)],columns=['first'])
df5['second'] =  pd.DataFrame([rd.randint(1,6) for i in range(n)])
df5[['first','second']] = df5[['first','second']].astype(int)
df5.head(10)

   first  second
0      6       6
1      5       4
2      1       6
3      6       1
4      1       6
5      5       3
6      6       3
7      3       1
8      5       6
9      4       4

In [15]:
df5[(df5['first'] == 6) | (df5['second'] == 6)].count()[1]/df5['second'].count()

0.3042

Предлагается также решить задачи: 

### Задача 6
В телефонном номере три последние цифры стерлись. Считая, что все возможные значения стершихся цифр равновероятны, найти вероятность событий:

A = {Стерлись различные цифры},

B = {Стерлись одинаковые цифры},

C = {Среди стершихся цифр хотя бы две совпадают},

D = {Среди стершихся цифр хотя бы две различны}

In [16]:
df6 = pd.DataFrame([rd.randint(0,9) for i in range(n)],columns=['-3'])
df6['-2'] =  pd.DataFrame([rd.randint(0,9) for i in range(n)])
df6['-1'] =  pd.DataFrame([rd.randint(0,9) for i in range(n)])
df6[['-3','-2', '-1']] = df6[['-3','-2', '-1']].astype(int)
df6.head(10)

   -3  -2  -1
0   1   1   5
1   9   5   0
2   3   1   8
3   0   2   0
4   3   5   2
5   2   0   2
6   1   7   8
7   4   2   3
8   9   8   4
9   2   9   6

In [17]:
df6['Y'] = (df6['-1'] == df6['-2']) & (df6['-2'] == df6['-3'])
1-df6[df6['Y']==True].count()[3]/df6['Y'].count()

0.9889

In [18]:
df6[df6['Y']==True].count()[3]/df6['Y'].count()

0.0111

In [19]:
df6['L'] = (df6['-1'] == df6['-2']) | (df6['-2'] == df6['-3']) | (df6['-1'] == df6['-3'])
1-df6[df6['L']==True].count()[3]/df6['L'].count()

0.7173

In [20]:
df6[df6['L']==True].count()[3]/df6['L'].count()

0.2827

## Случайные величины

### Задача 7
В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, равной чистому выигрышу участника лотереи, который вытаскивает билет первым.

In [21]:
(1/10*(10-1))+(9/10*-1)

0.0

Предлагается также решить задачу: 

### Задача 8
Брошены две игральные кости. Найти закон распределения случайной величины $X$, равной сумме выпавших очков. Найти вероятности событий ${X <= 4}$, ${X > 4}$

In [22]:
3/36

0.08333333333333333

In [23]:
1-3/36

0.9166666666666666

## Условные вероятности

### Задача 9
Из колоды (36 карт) вынимают последовательно без возвращения две карты. Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.

In [24]:
4/36+4/35

0.22539682539682537

In [25]:
4/36*1/4+4/35*1/4

0.05634920634920634

Предлагается также решить задачу: 

### Задача 10
Из урны, содержащей два белых и три черных шара, последовательно извлекают два шара; вынутые шары не возвращаются. Если первый шар оказался черным, то перед вторым извлечением в урну добавляют белый шар. В противном случае состав оставшихся шаров не меняют. Найти вероятности событий:

$A$ = {извлечены два белых шара},

$B$ = {извлечены два черных шара}

Указание. Пусть событие $C_1$ = {первый шар белый}, событие $C_2$ = {второй шар белый}. Тогда $A = C_1C_2$, $B = \overline C_1 \overline C_2$

In [26]:
2/5+1/4

0.65

In [27]:
3/5+2/5

1.0