<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Практика" data-toc-modified-id="Практика-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Практика</a></span><ul class="toc-item"><li><span><a href="#Определение-вероятности.-События" data-toc-modified-id="Определение-вероятности.-События-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Определение вероятности. События</a></span><ul class="toc-item"><li><span><a href="#Задача-1" data-toc-modified-id="Задача-1-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Задача 1</a></span></li><li><span><a href="#Задача-2" data-toc-modified-id="Задача-2-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Задача 2</a></span></li><li><span><a href="#Задача-3" data-toc-modified-id="Задача-3-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Задача 3</a></span></li><li><span><a href="#Задача-4" data-toc-modified-id="Задача-4-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Задача 4</a></span></li></ul></li><li><span><a href="#Вероятность-суммы-событий" data-toc-modified-id="Вероятность-суммы-событий-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Вероятность суммы событий</a></span><ul class="toc-item"><li><span><a href="#Задача-5" data-toc-modified-id="Задача-5-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Задача 5</a></span></li><li><span><a href="#Задача-6" data-toc-modified-id="Задача-6-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Задача 6</a></span></li></ul></li><li><span><a href="#Случайные-величины" data-toc-modified-id="Случайные-величины-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Случайные величины</a></span><ul class="toc-item"><li><span><a href="#Задача-7" data-toc-modified-id="Задача-7-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Задача 7</a></span></li><li><span><a href="#Задача-8" data-toc-modified-id="Задача-8-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Задача 8</a></span></li></ul></li><li><span><a href="#Условные-вероятности" data-toc-modified-id="Условные-вероятности-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Условные вероятности</a></span><ul class="toc-item"><li><span><a href="#Задача-9" data-toc-modified-id="Задача-9-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Задача 9</a></span></li><li><span><a href="#Задача-10" data-toc-modified-id="Задача-10-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Задача 10</a></span></li></ul></li></ul></li></ul></div>

# Практика

## Определение вероятности. События

Требуется сгенерировать необходимые выборки и произвести по ним расчеты

In [75]:
import random as rd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
%matplotlib inline

### Задача 1
Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами

In [76]:
n = 1000000
orel = 0
reshka = 1
first_coin = np.random.choice([orel, reshka], n)
second_coin = np.random.choice([orel, reshka], n)

df_1 = pd.DataFrame(first_coin)
df_2 = pd.DataFrame(second_coin)

df3 = pd.concat([df_1,df_2], axis=1)
df_concat = df3.set_axis(['first','second'],axis=1, inplace=False)
df_concat['summ'] = df_concat['first']+df_concat['second']

print((df_concat[df_concat['summ']==1]).count()[0]/n)

0.500524

### Задача 2
Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:


1.   A = {не выпало ни одного герба}
2.   B = {выпало четное число гербов}
3.   C = {на третьей монете выпал герб}

In [77]:
df2 = pd.DataFrame([rd.randint(0,1) for i in range(n)],columns=['first_coin'])
df2['second_coin'] =  pd.DataFrame([rd.randint(0,1) for i in range(n)])
df2['third_coin'] =  pd.DataFrame([rd.randint(0,1) for i in range(n)])
df2[['first_coin','second_coin','third_coin']] = df2[['first_coin','second_coin','third_coin']].astype(int)
df2['TN'] = df2.sum(axis=1)
df2.head(10)

   first_coin  second_coin  third_coin  TN
0           0            1           1   2
1           0            0           0   0
2           0            1           0   1
3           0            1           0   1
4           0            1           0   1
5           0            1           0   1
6           0            0           1   1
7           0            1           1   2
8           0            1           1   2
9           0            1           0   1

In [78]:
df2[df2['TN']==0].count()[3]/df2['TN'].count()

0.124891

In [79]:
df2[df2['TN']== (0 or 2)].count()[3]/df2['TN'].count()

0.375272

In [80]:
df2[df2['third_coin']== 1].count()[2]/df2['third_coin'].count()

0.499526

Предлагается также решить задачи: 

### Задача 3
Из двух претендентов E и L на ответственную должность три члена комиссии должны отобрать одного. Каждый член комиссии должен указать либо одного достойного, либо забраковать обоих. Претендент считается выбранным, если он был признана достойным хотя бы двумя членами комиссии.
Найти вероятность событий:

A = {рекомендован L}, B = {рекомендован E}

In [81]:
#L - рекомендован L
#E - рекомендован E
#N - никто не рекомендован
df = pd.DataFrame(np.random.choice(['E','L','N'], n),columns=['first_man'])
df['second_man'] =  pd.DataFrame(np.random.choice(['E','L','N'], n))
df['third_man'] =  pd.DataFrame(np.random.choice(['E','L','N'], n))
df['result'] = df['first_man'] + df['second_man'] + df['third_man']
df

       first_man second_man third_man result
0              N          L         L    NLL
1              L          N         E    LNE
2              E          N         L    ENL
3              N          E         N    NEN
4              N          E         L    NEL
...          ...        ...       ...    ...
999995         L          N         E    LNE
999996         L          L         L    LLL
999997         L          N         E    LNE
999998         L          E         E    LEE
999999         L          N         E    LNE

[1000000 rows x 4 columns]

In [82]:
#A - рекомендован L
A=0
for i in ('LLL','LLN','LLE','LEL','LNL','ELL','NLL'):
    A += df[df['result']==i].count()['result']
A/n

0.259526

In [83]:
#B - рекомендован E
B=0
for i in ('EEE','EEN','EEL','ELE','ENE','LEE','NEE'):
    B += df[df['result']==i].count()['result']
B/n

0.259422

### Задача 4
Брошено две игральных кости. Описать множество элементарных событий. Найти вероятности событий:

A = {вышло две "шестерки"}

B = {сумма выпавших очков не меньше 11}

C = {не выпала ни одна "шестерка"}

In [84]:
df4 = pd.DataFrame([rd.randint(1,6) for i in range(n)],columns=['first'])
df4['second'] =  pd.DataFrame([rd.randint(1,6) for i in range(n)])
df4[['first','second']] = df4[['first','second']].astype(int)
df4['TN'] = df4.sum(axis=1)
df4.head(10)

   first  second  TN
0      3       5   8
1      4       6  10
2      6       3   9
3      3       4   7
4      3       6   9
5      4       2   6
6      4       2   6
7      5       5  10
8      2       2   4
9      5       6  11

In [85]:
df4[df4['TN']== 12].count()[2]/df4['TN'].count()

0.027585

In [86]:
df4[df4['TN']> 10].count()[2]/df4['TN'].count()

0.083266

In [87]:
df4[(df4['first'] != 6) & (df4['second'] != 6)].count()[2]/df4['TN'].count()

0.695239

## Вероятность суммы событий

### Задача 5
Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}

In [88]:
df5 = pd.DataFrame([rd.randint(1,6) for i in range(n)],columns=['first'])
df5['second'] =  pd.DataFrame([rd.randint(1,6) for i in range(n)])
df5[['first','second']] = df5[['first','second']].astype(int)
df5.head(10)

   first  second
0      2       1
1      5       2
2      6       1
3      5       3
4      1       4
5      2       2
6      2       6
7      3       4
8      6       1
9      4       6

In [89]:
df5[(df5['first'] == 6) | (df5['second'] == 6)].count()[1]/df5['second'].count()

0.30421

Предлагается также решить задачи: 

### Задача 6
В телефонном номере три последние цифры стерлись. Считая, что все возможные значения стершихся цифр равновероятны, найти вероятность событий:

A = {Стерлись различные цифры},

B = {Стерлись одинаковые цифры},

C = {Среди стершихся цифр хотя бы две совпадают},

D = {Среди стершихся цифр хотя бы две различны}

In [90]:
df6 = pd.DataFrame([rd.randint(0,9) for i in range(n)],columns=['-3'])
df6['-2'] =  pd.DataFrame([rd.randint(0,9) for i in range(n)])
df6['-1'] =  pd.DataFrame([rd.randint(0,9) for i in range(n)])
df6[['-3','-2', '-1']] = df6[['-3','-2', '-1']].astype(int)
df6.head(10)

   -3  -2  -1
0   1   5   8
1   2   7   5
2   9   8   2
3   0   7   1
4   1   4   5
5   0   0   3
6   7   2   8
7   4   7   3
8   0   1   1
9   5   3   5

In [91]:
df6['Y'] = (df6['-1'] == df6['-2']) & (df6['-2'] == df6['-3'])
1-df6[df6['Y']==True].count()[3]/df6['Y'].count()

0.989902

In [92]:
df6[df6['Y']==True].count()[3]/df6['Y'].count()

0.010098

In [93]:
df6['L'] = (df6['-1'] == df6['-2']) | (df6['-2'] == df6['-3']) | (df6['-1'] == df6['-3'])
1-df6[df6['L']==True].count()[3]/df6['L'].count()

0.7195400000000001

In [94]:
df6[df6['L']==True].count()[3]/df6['L'].count()

0.28046

## Случайные величины

### Задача 7
В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, равной чистому выигрышу участника лотереи, который вытаскивает билет первым.

In [95]:
for_winner = 10
one_ticket_cost = 1

ticket = []
for i in range(10,0,-1):
    ticket.append(i)
    
df_ticket = pd.DataFrame(ticket, columns = ['chances'])
df_ticket['x'] = (for_winner*1/df_ticket['chances'])-1

df_ticket

   chances         x
0       10  0.000000
1        9  0.111111
2        8  0.250000
3        7  0.428571
4        6  0.666667
5        5  1.000000
6        4  1.500000
7        3  2.333333
8        2  4.000000
9        1  9.000000

Предлагается также решить задачу: 

### Задача 8
Брошены две игральные кости. Найти закон распределения случайной величины $X$, равной сумме выпавших очков. Найти вероятности событий ${X <= 4}$, ${X > 4}$

In [96]:
k_1 = np.random.choice([1,2,3,4,5,6], n)
k_2 = np.random.choice([1,2,3,4,5,6], n)

df1 = pd.DataFrame(k_1,columns=['first'])
df1['second'] = pd.DataFrame(k_2)
df1['summ'] = df1['first'] + df1['second']

count = df1['summ'].astype(int).reset_index()
d = count.groupby('summ').count()['index'].reset_index()
d = d.rename(columns={'summ':'var','index':'count'})
d['probability'] = d['count']/n
d

    var   count  probability
0     2   27883     0.027883
1     3   56015     0.056015
2     4   83172     0.083172
3     5  110979     0.110979
4     6  139039     0.139039
5     7  166946     0.166946
6     8  138784     0.138784
7     9  111149     0.111149
8    10   83023     0.083023
9    11   55624     0.055624
10   12   27386     0.027386

In [97]:
#x<=4
prob_1 = d[d['var']<=4].sum()['count']/n
prob_1

0.16707

In [98]:
#x>4
prob_2 = d[d['var']>4].sum()['count']/n
prob_2

0.83293

## Условные вероятности

### Задача 9
Из колоды (36 карт) вынимают последовательно без возвращения две карты. Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.

In [99]:
4/36+4/35

0.22539682539682537

In [100]:
4/36*1/4+4/35*1/4

0.05634920634920634

Предлагается также решить задачу: 

### Задача 10
Из урны, содержащей два белых и три черных шара, последовательно извлекают два шара; вынутые шары не возвращаются. Если первый шар оказался черным, то перед вторым извлечением в урну добавляют белый шар. В противном случае состав оставшихся шаров не меняют. Найти вероятности событий:

$A$ = {извлечены два белых шара},

$B$ = {извлечены два черных шара}

Указание. Пусть событие $C_1$ = {первый шар белый}, событие $C_2$ = {второй шар белый}. Тогда $A = C_1C_2$, $B = \overline C_1 \overline C_2$

In [101]:
2/5+1/4

0.65

In [102]:
3/5+2/5

1.0